<h1><%= @student.first_name %> <%= @student.last_name %></h1>

<h2>Enrolled Courses</h2>
<ul>
  <% @enrolled_courses.each do |enrollment| %>
    <li>
      <a href="/courses/<%= enrollment.course.id %>">
        <%= enrollment.course.title %>
      </a>
    </li>
  <% end %>
</ul>
